


		<section class="footer-help">
			<a href="#" class="footer-help-toggle">
				<span>Help</span>
			</a>
			<div class="footer-help-content">
				<div class="columns">
					<h4>
						Having trouble?
					</h4>
					<ul class="footer-help-menu">
						<li class="footer-help-menu-info">
							<a href="/whitelabel/faq/" title="">FAQ</a>
						</li>
						<li class="footer-help-menu-chat">
							<a href="http://www.torfx.com.au/content/contact-us.php" title="">Request a call</a>
						</li>
						<li class="footer-help-menu-email-us">
							<a href="mailto:info@torfx.com.au" title="">Email us</a>
						</li>
						<li class="footer-help-menu-local-office">
							<a href="http://www.torfx.com.au/content/contact-us.php" title="">Find your local office</a>
						</li>
					</ul>
					<footer class="border--top">
						<a href="tel:1800291073" title="">
							1800 291 073
						</a>
						<small>
							8:00am - 6:00pm (Mon - Fri)
						</small>
						<small>
							9:00am - 1:00pm (Sat)
						</small>
						<small>
							Sunday - closed
						</small>
					</footer>
				</div>
			</div>
		</section>


		<footer class="main-footer">
			<div class="row">
				<div class="columns">
					<ul class="footer-links clearfix">
						<li>
							<a href="/CustomerPortal/termsAndCondition.htm" title="">Terms &amp; conditions</a>
						</li>
						<li>
							<a href="/CustomerPortal/privacyPolicy.htm" title="">Privacy policy</a>
						</li>
						<li>
							<a href="/CustomerPortal/cookies.htm" title="">Cookies</a>
						</li>
						<li>
							<a href="/CustomerPortal/regulatoryInformation.htm" title="">Regulatory information</a>
						</li>
					</ul>
				</div>
			</div>
		</footer>

	</div>
	<!-- ==== End - Content Container ==== -->




    <%-
      /* Sitewide JS */
      include('./scripts.html');
    %>


	</body>
</html>
