<%

/**
 * Scripts 
 * Footer
 */

%>

<script src="/js/vnd/jquery.min.js"></script>
<script src="/js/vnd/jquery-ui/jquery-ui.min.js"></script>
<script src="/js/vnd/foundation.min.js"></script>
<script src="/js/vnd/foundation.reveal.min.js"></script>
<script src="/js/vnd/foundation.util.box.js"></script>
<script src="/js/vnd/foundation.util.keyboard.js"></script>
<script src="/js/vnd/foundation.util.mediaQuery.js"></script>
<script src="/js/vnd/foundation.util.motion.js"></script>
<script src="/js/vnd/foundation.util.triggers.js"></script>
<script src="/js/vnd/fastclick.min.js"></script>
<script src="/js/vnd/select2/select2.full.min.js"></script>



<script src="/js/all.new.js"></script>
<script src="/js/presentation.js"></script>
