<%
/*

# Input Password Component

### Notes

##### `pattern`
* Min 8 chars, 1 upper, 1 number: /^([a-zA-Z])(?=.*\d).{8,}$/
* Uppercase, lowercase and number
 		- /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$/
	- Uppercase, lowercase, number/special character and min 12 characters
 		- /(?=^.{12,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$/

# Simple
include('components/input-type-password.html', assoc: 'password');

# Verbose
include(
	'components/input-type-password.html',
	{
		assoc: 'password',
		labelText: 'Password',
		pattern: '/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$/',
		maskPassword: false,
		classList: [
			'small-12',
			'columns'
		]
	}
);

*/
%>

<div class="input-container <%=
	(typeof classList != 'undefined' ? classList.join(' ') : '')
%>">
	<input
		type="password"  
		id="<%= (typeof assoc != 'undefined' ? assoc : '__undefined') %>"
		pattern="<%= (typeof pattern != 'undefined' ? pattern : '') %>"
	>
	<label for="<%= (typeof assoc != 'undefined' ? assoc : '__undefined') %>">
		<%= (typeof labelText != 'undefined' ? labelText : 'Password') %>
	</label>
	<%
	if (
		(typeof maskPassword != 'undefined' && maskPassword != false) ||
		typeof maskPassword == 'undefined'
	) {
	%>
	<% /* div class="show-password-container" */ %>
	<button type="button" data-role="show-password" title="Mask/Unmask password to check content">Unmask</button>
	<% /* /div */ %>
	<% } %>
</div>
