<option value="AUD" data-title="Australian Dollar" data-country="Australia" data-aliases="Australia, Aussie" selected="selected">AUD</option>
<option value="GBP" data-title="British Pound Sterling" data-country="United Kingdom" data-aliases="UK, England, Scotland, Republic of Ireland, Britain">GBP</option>
<option value="USD" data-title="US Dollar" data-country="United States of America" data-aliases="USA, America, American Dollar, U.S.A.">USD</option>
<option value="CAD" data-title="Canadian Dollar" data-country="Canada" data-aliases="Canada">CAD</option>
<option value="AED" data-title="United Arab Emirates Dirham" data-country="United Arab Emirates" data-aliases="Arab, UAE">AED</option>
<option value="HKD" data-title="Hong Kong Dollar" data-country="Hong Kong" data-aliases="Hong Kong, China">HKD</option>
<option value="EUR" data-title="Euro" data-country="European Euro" data-aliases="Austria, Belgium, Cyprus, Estonia, Finland, France, Germany, Greece, Ireland, Italy, Latvia, Lithuania, Luxembourg, Malta, the Netherlands, Portugal, Slovakia, Slovenia, Spain">EUR</option>
<option value="NZD" data-title="New Zealand Dollar" data-country="New Zealand" data-aliases="New Zealand">NZD</option>
<option value="JPY" data-title="Japanese Yen" data-country="Japan" data-aliases="Japan">JPY</option>
<option value="EGP" data-title="Egyptian Pound" data-country="Egypt" data-aliases="Egypt">EGP</option>
<option value="SGD" data-title="Singapore Dollar" data-country="Singapore" data-aliases="Singapore">SGD</option>
<option value="DKK" data-title="Danish Krone" data-country="Denmark" data-aliases="Denmark">DKK</option>
<option value="NOK" data-title="Norwegian Krone" data-country="Norway" data-aliases="Norway">NOK</option>
<option value="ZAR" data-title="South African Rand" data-country="South Africa" data-aliases="South Africa">ZAR</option>
<option value="SEK" data-title="Swedish Kroner" data-country="Sweden" data-aliases="Sweden">SEK</option>
<option value="CHF" data-title="Swiss Franc" data-country="Switzerland" data-aliases="Switzerland">CHF</option>
<option value="THB" data-title="Thai Baht" data-country="Thailand" data-aliases="Thailand">THB</option>
<option value="TRY" data-title="Turkish Lira" data-country="Turkey" data-aliases="Turkey">TRY</option>