<div class="row main-container">


	<div class="columns">

		<div class="row small-up-12 medium-up-3 large-up-6">
			<div class="columns">
				<button type="button" class="columns button switchTo">Currencies Direct</button>
			</div>
			<div class="columns">
				<button type="button" class="columns button switchTo">TorFX</button>
			</div>
			<div class="columns">
				<button type="button" class="columns button switchTo">Ramsdens</button>
			</div>
			<div class="columns">
				<button type="button" class="columns button switchTo">Foremost</button>
			</div>
			<div class="columns">
				<button type="button" class="columns button switchTo">TMOz</button>
			</div>
		</div>

	

		<div class="row">
			<h3 class="columns">
				<!--<%- (typeof pageHeading != 'undefined' ? pageHeading : '') %>-->
				Handover - Development
			</h3>
		</div>



		<!--div class="row">
			<h4>Component Library</h4>
			<div class="columns">
				<ul class="columns" title="Note: requires updating">
			 		<li class="medium-3 columns end"><a href="/library/">Index</a></li>
			 	</ul>
			</div>
		</div-->


		<div class="row">
			<h4>Registration/KYC</h4>
			<div class="columns">
				<ul class="row">
		 			<li class="columns">
		 				<a href="/whitelabel/registration/1/">Registration Screen 1 <small>(1-SignUp)</small></a>	
		 				<a href="/whitelabel/registration/2/">Registration Screen 2 <small>(3-SignUp-Enter-details_master)</small></a>
		 				<a href="/whitelabel/registration/3/">Registration Screen 3 <small>(4-SignUp-details-complete Copy 22)</small></a>
		 				<a href="/whitelabel/registration/4/">Registration Screen 4 <small>(7-confirm-loader)</small></a>
		 				<a href="/whitelabel/registration/5/">Registration Screen 5 <small>(5-security)</small></a>
		 				<a href="/whitelabel/registration/6/">Registration Screen 6 <small>(2-SignUp3-Security-Complete)</small></a>
		 				<a href="/whitelabel/registration/7/">Registration Screen 7 <small>(6-confirm copy 2)</small></a>
		 				<a href="/whitelabel/registration/8/">Registration Screen 8 <small>(7-confirm-loader_2)</small></a>
		 				<a href="/whitelabel/registration/9/">Registration Screen 9 <small>(Account Registration Variants)</small></a>
		 				<a href="/whitelabel/registration/10/">Registration Screen 10 <small>(2-SignUp6-KYC-DocumentUpload-Incomplete)</small></a>
		 				<a href="/whitelabel/registration/11/">Registration Screen 11 <small>(Final-confirmation Copy)</small></a>
		 				<a href="/whitelabel/registration/12/">Registration Screen 12 <small>(2-SignUp6-KYC-confirm-loader)</small></a>
		 			</li>

					<!--li class="medium-3 columns end"><a href="/signup/?client=tor-fx">TorFX
					Theme</a></li-->

				</ul>
			</div>
		</div>

		<div class="row">
			<h4>Activation</h4>
			<div class="columns">
				<ul class="row">
			 		<li class="columns">
			 			<a href="/whitelabel/account-activation/">Acount Activation <small>()</small></a>
			 			<a href="/whitelabel/account-activation-sent/">Acount Activation Sent<small>()</small></a>
			 		</li>
				</ul>
			</div>
		</div>

		<div class="row">
			<h4>Login/Reset</h4>
			<div class="columns">
				<ul class="row">
			 		<li class="columns">
			 			<a href="/whitelabel/">Login <small>(login)</small></a>
			 			<a href="/whitelabel/pin/">Pin <small>(login-pin)</small></a>
			 			<a href="/whitelabel/security-questions/">Security Questions</a>
			 			<a href="/whitelabel/password/forgotten/">Password Forgotten <small>(Forgotten-password)</small></a>
			 			<a href="/whitelabel/password/forgotten-check-email/">Password Forgotten - Check email<small>(Forgotten-password)</small></a>
			 			<a href="/whitelabel/password-forgotten-security-questions/">Password Forgotten - Security Questions</a>
			 			<!-- <a href="/whitelabel/password/reset/">Password Reset <small>(login-reset-password - v1)</small></a> -->
			 			<a href="/whitelabel/password/forgotten/update/">Password Reset <small>()</small></a>
			 			<a href="/whitelabel/password/reset/pin/">Password Reset - PIN</a>
			 			<a href="/whitelabel/password/update/">Password Update <small>(login after 90 days)</small></a>
			 			<a href="/whitelabel/password/fivetries/">Password "Five Tries" <small>(login-error)</small></a>
			 			<a href="/whitelabel/login-denied/">Login Authentication denied <small>()</small></a>
			 		</li>
				</ul>
			</div>
		</div>


		<div class="row">
			<h4>Dashboard</h4>
			<div class="columns">
				<ul class="row">
			 		<li class="columns">
			 			<a href="/whitelabel/dashboard/full-state/">Dashboard - Populated <small>(Dashboard-full-state)</small></a>
			 			<a href="/whitelabel/dashboard/empty-state/">Dashboard - Unpopulated <small>(Dashboard-default-state – first time)</small></a>
			 		</li>
				</ul>
			</div>
		</div>


		<div class="row">
			<h4>Manage Recipients</h4>
			<div class="columns">
				<ul class="row">
			 		<li class="columns">
			 			<a href="/whitelabel/recipients/manage/add-2/">Manage Recipients - Add (2)</a>
			 			<a href="/whitelabel/recipients/manage/add/bank-details-2/">Manage Recipients - Add Bank Details (2)<small>(See: add-new-payee-desktop-03)</small></a>

			 			<a href="/whitelabel/recipients/manage/">Manage Recipients <small>(add-new-payee-desktop-01)</small></a>
			 			<a href="/whitelabel/recipients/manage-empty/">Manage Recipients <small>(Default - Empty state)</small></a>
			 			<!-- New Recipient -->
			 			<a href="/whitelabel/recipients/manage/add/">Manage Recipients - Add <small>(See: add-new-payee-desktop-02)</small></a>
			 			<a href="/whitelabel/recipients/manage/add/bank-details/">Manage Recipients - Add Bank Details <small>(See: add-new-payee-desktop-03)</small></a>
			 			<a href="/whitelabel/recipients/manage/add/additional-details/">Manage Recipients - Additional Details <small>(See: add-new-payee-desktop-04)</small></a>
			 			<!-- View/edit Recipient -->
			 			<a href="/whitelabel/recipients/manage/view-edit/">Manage Recipients - View Edit <small>(See: add-new-payee-desktop-02)</small></a>
			 			<a href="/whitelabel/recipients/manage/view-edit/bank-details/">Manage Recipients - View Edit Bank Details <small>(See: add-new-payee-desktop-03)</small></a>
			 			<a href="/whitelabel/recipients/manage/view-edit/additional-details/">Manage Recipients - Additional Details <small>(See: add-new-payee-desktop-04)</small></a>
			 		</li>
				</ul>
			</div>
		</div>

		<div class="row">
			<h4>Rate Alerts</h4>
			<div class="columns">
				<ul class="row">
			 		<li class="columns">
			 			<a href="/whitelabel/rate-alerts/management/empty/" title="Additional screens: 'Rate-alert-desktop-cancel'">Rate Alert Management - Empty <small>()</small></a>
			 			<a href="/whitelabel/rate-alerts/management/" title="Additional screens: 'Rate-alert-desktop-cancel'">Rate Alert Management <small>(Rate-alert-desktop-01)</small></a>
			 			<a href="/whitelabel/rate-alerts/management/new/" title="Additional screens: 'Rate-alert-desktop-02', 'Rate-alert-desktop-03', 'Rate-alert-desktop-04'">New Rate Alert <small>(Rate-alert-desktop-02)</small></a>
			 			<a href="/whitelabel/rate-alerts/management/view-edit/">Edit Rate Alert <small>(N/A)</small></a>
			 		</li>
				</ul>
			</div>
		</div>

		<div class="row">
			<h4>Make Transfer</h4>
			<div class="columns">
				<ul class="row">
			 		<li class="columns">
		 				<a href="/whitelabel/transactions/make-transfer/0/">Make Transfer - Empty State <small>(01.1-transfer-journey-empty-state-Desktop)</small></a>
		 				<a href="/whitelabel/transactions/make-transfer/1/">Make Transfer Screen 1 <small>()</small></a>
		 				<a href="/whitelabel/transactions/make-transfer/2/">Make Transfer Screen 2 <small>()</small></a>
		 				<a href="/whitelabel/transactions/make-transfer/3/">Make Transfer Screen 3 <small>()</small></a>
		 				<a href="/whitelabel/transactions/make-transfer/4/">Make Transfer Screen 4 <small>()</small></a>
		 				<a href="/whitelabel/transactions/make-transfer/confirmation/">Make Transfer Confirmation Screen <small>()</small></a>
			 		</li>
			 	</ul>
			</div>
		</div>

		<div class="row">
			<h4>Buy Currency</h4>
			<div class="columns">
				<ul class="row">
			 		<li class="columns">
			 			<a href="/whitelabel/transactions/currency/empty/">Buy Currency Screen - Empty <small>()</small></a>
		 				<a href="/whitelabel/transactions/buy-currency/1/">Buy Currency Screen 1 <small>()</small></a>
		 				<a href="/whitelabel/transactions/buy-currency/2/">Buy Currency Screen 2 <small>()</small></a>
		 				<a href="/whitelabel/transactions/buy-currency/3/">Buy Currency Screen 3 <small>()</small></a>
		 				<a href="/whitelabel/transactions/buy-currency/confirmation/">Buy Currency Confirmation Screen <small>()</small></a>
			 		</li>
			 		<li class="columns">
			 			<a href="/whitelabel/transactions/top-up-currency/">Buy/Top-up Currency <small>(access only from dashboard)</small></a>
			 		</li>
			 	</ul>
			</div>
		</div>


		<div class="row">
			<h4>Transfer Pre-bought Currency</h4>
			<div class="columns">
			 	<ul class="row">
			 		<li class="columns">
			 			<a href="/whitelabel/transactions/currency/empty/">Transfer Pre-bought Currency - Empty <small>()</small></a>
			 			<a href="/whitelabel/transactions/pre-bought-currency/1/">Transfer Pre-bought Currency Screen 1 <small>()</small></a>
			 			<a href="/whitelabel/transactions/pre-bought-currency/2/">Transfer Pre-bought Currency Screen 2 <small>()</small></a>
			 			<a href="/whitelabel/transactions/pre-bought-currency/3/">Transfer Pre-bought Currency Screen 3 <small>()</small></a>
			 			<a href="/whitelabel/transactions/pre-bought-currency/confirmation/">Transfer Pre-bought Currency Confirmation Screen <small>()</small></a>
			 		</li>
			 	</ul>
			</div>
		</div>


		<div class="row">
			<h4>Pay Offline/Open Contracts</h4>
			<div class="columns">
			 	<ul class="row">
			 		<li class="columns">
			 			<a href="/whitelabel/transactions/pay-contract/0/">Pay Contracts - Empty <small>()</small></a>
			 			<a href="/whitelabel/transactions/pay-contract/1/">Pay Contracts Screen 1 <small>()</small></a>
			 			<a href="/whitelabel/transactions/pay-contract/2/">Pay Contracts Screen 2 <small>()</small></a>
			 			<a href="/whitelabel/transactions/pay-contract/3/">Pay Contracts Screen 3 <small>()</small></a>
			 			<a href="/whitelabel/transactions/pay-contract/confirmation/">Pay Contracts Screen Confirmation <small>()</small></a>
			 		</li>
			 	</ul>
			</div>
		</div>



		<div class="row">
			<h4>Profile Management</h4>
			<div class="columns">
				<ul class="row">
			 		<li class="columns">
			 			<a href="/whitelabel/profile/check-login">Profile - Login <small>()</small></a>
			 			<a href="/whitelabel/profile/">Profile <small>()</small></a>
			 		</li>
				</ul>
			</div>
		</div>


		<div class="row">
			<h4>Legal Pages</h4>
			<div class="columns">
				<ul class="row">
			 		<li class="columns">
			 			<a href="/CustomerPortal/termsAndCondition.htm">Terms and Conditions <small>()</small></a>
			 		</li>
			 		<li class="columns">
			 			<a href="/CustomerPortal/privacyPolicy.htm">Privacy policy <small>()</small></a>
			 		</li>
			 		<li class="columns">
			 			<a href="/CustomerPortal/cookies.htm">Cookies <small>()</small></a>
			 		</li>
			 		<li class="columns">
			 			<a href="/CustomerPortal/regulatoryInformation.htm">Regulatory information <small>()</small></a>
			 		</li>    
				</ul>
			</div>
		</div>


		<div class="row">
			<h4>Help Pages</h4>
			<div class="columns">
				<ul class="row">
			 		<li class="columns">
			 			<a href="/whitelabel/faq/">FAQ <small>()</small></a>
			 		</li>
			 		<li class="columns">
			 			<a href="/whitelabel/help/">Help <small>()</small></a>
			 		</li>
				</ul>
			</div>
		</div>



		<div class="row">
			<h4>Activity History</h4>
			<div class="columns">
				<ul class="row">
			 		<li class="columns">
			 			<a href="/whitelabel/activity-history/">Activity History <small>(TXX-activity-history)</small></a>
			 		</li>
				</ul>
			</div>
		</div>


		<div class="row">
			<h4>Miscellaneous</h4>
			<div class="columns">
				<ul class="row">
			 		<li class="columns">
			 			<a href="/whitelabel/down/">CD is down <small>()</small></a>
			 		</li>
				</ul>
			</div>
		</div>




		<div class="row">
			<h4>UI Modals and Widgets</h4>
			<div class="columns">
				<ul class="row">
			 		<li class="columns">
			 			<a href="#" data-index-link="AutoLogout" data-open="auto-logout">Auto Logout <small>()</small></a>
			 			<a href="#" data-index-link="LoadingImage" data-open="loading-image">Loading Image <small>()</small></a>
			 			<a href="#" data-index-link="LanguageSelect" data-open="language-select">Language Select <small>()</small></a>
			 			<a href="#" data-index-link="ConfirmDeletion" data-open="confirm-deletion">Confirm Deletion <small>()</small></a>
			 			<a href="#" data-index-link="SecurityQuestions" data-open="security-questions">Security Questions<small>()</small></a>
			 		</li>
				</ul>
			</div>
		</div>




	</div>
</div>




<!-- 
	TODO - Remove Legacy modal code 

	- Refactor ✔
	- Test new reveal code ✔
	- Port exisiting modals to new reveal code

-->


<div class="reveal modal-container row" id="auto-logout" data-reveal>
	<div class="modal-frame columns">
		<header class="modal-header">
			<span class="button-icon modal-close" aria-label="Close modal" data-close>
				Close
			</span>
			<h4>Alert!</h4>
		</header>
		<div class="modal-content clearfix">
			<p class="columns">
				Your session is about to expire, do you want to continue?
			</p>
			<div class="columns">
				<div class="row">
					<%-
						include(
							'./components/button.html',
							{
								type: 'button',
								text: 'Logout',
								classList: [
									'medium-4',
									'button-outline'
								],
								dataAttr: {
									'data-hyperlink': '#'
								}
							}
						)
					%>
					<%-
						include(
							'./components/button.html',
							{
								type: 'button',
								text: 'Continue',
								classList: [
									'medium-4'
								],
								dataAttr: {
									'data-hyperlink': '#'
								}
							}
						)
					%>
				</div>
			</div>
		</div>
	</div>
</div>





<div class="reveal modal-container row" id="loading-image" data-reveal data-options="closeOnClick:false;closeOnEsc:false;">
	<div class="modal-frame">
		<div class="modal-loading">
			<div class="loader-container">
				<svg class="loader" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg">
					<circle class="internal-circle" cx="60" cy="60" r="30"></circle>
					<circle class="external-circle" cx="60" cy="60" r="50"></circle>
				</svg>
			</div>
		</div>
		<p>
			Please wait for just a moment.
		</p>
	</div>
</div>


<div class="reveal modal-container row" id="confirm-deletion" data-reveal>
	<div class="modal-frame columns">
		<header class="modal-header">
			<span class="button-icon modal-close" aria-label="Close modal" data-close="">
				Close
			</span>
			<h4>Do you want to delete this Rate Alert?</h4>
		</header>
		
		<div class="modal-content clearfix">
			<div class="row">

				<p class="columns">
					If you delete this rate alert you will no longer receive a notification if your target rate is hit.
				</p>
			<%-
				include(
					'./components/button.html',
					{
						type: 'submit',
						text: 'Confirm',
						classList: [ 
							'large-8',
							'large-centered'
						],
						dataAttr: {
							'data-role': 'confirm-deletion',
							'data-hyperlink': '#'
						}
					}
				)
			%>
		</div>
		</div>
	</div>
</div>


<%-
  include('./partials/modal-choose-language.html');
%>


<div class="reveal modal-container row" id="security-questions" data-reveal>
	<div class="modal-frame columns">
		<header class="modal-header">

			<h4>Please set up your security questions</h4>
		</header>
		
		<div class="modal-content clearfix">
			<div class="row">
			<%-
				include(
					'./components/select.html',
					{
						assoc: 'inpiut-010',
						text: 'Security question 1',
						containerClassList: [
							'madium-7',	
							'columns'
						],
						optionsClassList: [
							'needsclick'
						],
						options: [
							{ text: 'Your first pet\'s name', value: 'Your first pet\'s name' }
						]
					}
				);
			%>
			<%-
				include(
					'./components/input-type-text.html',
					{
						assoc: 'input-011',
						labelText: 'Answer 1',
						classList: [
							'madium-7',
							'end',
							'columns',
						]
					}
				);
			%>

			<%-
				include(
					'./components/select.html',
					{
						assoc: 'inpiut-020',
						text: 'Security question 2',
						containerClassList: [
							'madium-7',	
							'columns'
						],
						optionsClassList: [
							'needsclick'
						],
						options: [
							{ text: 'Your favourite place?', value: 'Your favourite place?' }
						]
					}
				);
			%>
			<%-
				include(
					'./components/input-type-text.html',
					{
						assoc: 'input-021',
						labelText: 'Answer 2',
						classList: [
							'madium-7',
							'end',
							'columns'
						]
					}
				);
			%>
		</div>

		<div class="row">
			<%-
				include(
					'./components/button.html',
					{
						type: 'button',
						text: 'Submit',
						classList: [
							'medium-4',
							'float-right'
						],
						dataAttr: {
							'data-hyperlink': '#'
						}
					}
				)
			%>
		</div>

		</div>
	</div>
</div>

