<%-
	include(
		'../partials/head.html', {
			title: 'Activity History',
			bodyClassList: [
				'template',
				'template-core', 
				'site-transfers',
			]
		}
	);
%>


<%- 
	include(
		'../components/navigation-main.html', {
			navigationOptions: [
				{ 
					title: 'Transfer', class: 'menu-item-transfer menu-item-has-sub-menu', 
					subMenu: [
						{ href: '/whitelabel/transactions/make-transfer/1/', title: 'Make a transfer' },
						{ href: '/whitelabel/transactions/buy-currency/1/', title: 'Buy Currency' },
						{ href: '/whitelabel/transactions/pre-bought-currency/1/', title: 'Transfer pre-bought Currency' }, 
						{ href: '/whitelabel/transactions/pay-contract/1/', title: 'Pay open deals' }
					] 
				},
				{ title: 'Rate alerts', class: 'menu-item-alerts', href: '/whitelabel/rate-alerts/management/' },
				{ title: 'Activity', class: 'menu-item-activity-history active', href: '/whitelabel/activity-history/' },
				{ title: 'Recipients', class: 'menu-item-recipients', href: '/whitelabel/recipients/manage/' },
				{ title: 'Recommend us', class: 'menu-item-refer-and-earn', href: '/whitelabel/refer-and-earn/' }
			]
		}
	) 
%>

<div class="row main-container">
	<div class="row">
		<header class="main-header columns">
			<h1 class="title">
				Activity
			</h1>
		</header>
	</div>
	<div class="row">
		<div class="filter-container clearfix">
			<p class="columns filter-controls">
				Filter
				<a href="#" class="swap">
	        <span class="img plus show">
	        	Add
	        </span>
	        <span class="img minus">
	        	Remove
	        </span>
	      </a>
			</p>
			<div class="filters clearfix">
				<%-
					include(
						'../components/select.html',
						{
							assoc: 'select-001',
							text: 'Recipients',
							containerClassList: [
								'large-2 medium-6 small-label'
							],
							optionsClassList: [
								'needsclick'
							],
							options: [
								{ value: '', text: 'All', selected: 'selected' },
								{ value: '3509903', text: 'Vivek Awasthi' },
								{ value: '3509903', text: 'Jhonny Green' },
								{ value: '3509903', text: 'Melissa Redcliffe' },
								{ value: '3509763', text: 'Donald George' },
								{ value: '3508973', text: 'Kirloskar India' },
								{ value: '3508755', text: 'Kirloskar Meet' },
								{ value: '3508756', text: 'Rajan Chincholkar' }
							]
						}
					);
				%>
				<%-
					include(
						'../components/select.html',
						{
							assoc: 'select-002',
							text: 'Purchased',
							containerClassList: [
								'large-2 medium-3 small-label'
							],
							optionsClassList: [
								'needsclick'
							],
							options: [
								{ selected: 'selected', value: '0', text: 'All' },
								{ value: '1 GBP', text: 'GBP' },
								{ value: '2 EUR', text: 'EUR' },
								{ value: '3 USD', text: 'USD' },
								{ value: '814 AUD', text: 'AUD' },
								{ value: '818 BGN', text: 'BGN' },
								{ value: '841 DKK', text: 'DKK' },
								{ value: '863 INR', text: 'INR' },
								{ value: '868 JPY', text: 'JPY' }
							]
						}
					);
				%>
				<%-
					include(
						'../components/select.html',
						{
							assoc: 'select-003',
							text: 'Status',
							containerClassList: [
								'large-2 medium-3 small-label'
							],
							optionsClassList: [
								'needsclick'
							],
							options: [
								{ selected: 'selected', text: 'All' }, 
								{ value: '65', text: 'Awaiting Funds' }, 
								{ value: '68', text: 'Received Funds' }, 
								{ value: '71', text: 'Cancelled' }, 
								{ value: '72', text: 'Completed' }
							]
						}
					);
				%>
				<%-
					include(
						'../components/input-type-text.html',
						{
							assoc: 'from',
							labelText: 'From', 
							classList: [
								'large-2 medium-6',
								'columns'
							]
						}
					);
				%>
				<%-
					include(
						'../components/input-type-text.html',
						{
							assoc: 'to',
							labelText: 'To', 
							classList: [
								'large-2 medium-6',
								'columns'
							]
						}
					);
				%>
				<div class="large-2 medium-4 end float-right columns">
					<a class="button-simple" href="#" data-role="apply-filters" title="Apply filters">
						<span>Apply filters</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="columns">


			<div class="small-columns element-group element-group-table table-activity-history">

				<header class="element-group-header row hide-for-small-only">
					
					<div class="medium-8 columns">

						<h5 class="element-group-title">
							Wallet activity history
						</h5>	
							<p class=" information information-small">We make the last three years' worth of activity available to you online.
							<br>
							To find out about older activity, please call us on +44 (0) 20 7847 9494  
							<a class="tooltip-popup" href="#" title="Our opening hours are Monday – Thursday, 8.30am – 7pm; Friday, 8.30am – 5.30pm; Saturday, 10am – 2pm"></a>
						</p>
					</div>
					<div class="medium-4 columns">
						<ul class="links-export">
							<li>
								<a href="#" class="link-export" title="">Export</a>
							</li>
							<li>
								<a href="#" class="link-print" title="">Print</a>
							</li>
						</ul>

						<table class="table table-activity-balances">
							<thead>
								<tr>
									<th>Balance</th>
									<th>Available</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1,200.40 EUR</td>
									<td>1,000.40 EUR</td>
								</tr>
								<tr>
									<td>200.00 GBP</td>
									<td>200.00 GBP</td>
								</tr>
								<tr>
									<td>0.00 USD</td>
									<td>0.00 USD</td>
								</tr>
								<tr>
									<td>0.00 SEK</td>
									<td>0.00 SEK</td>
								</tr>
							</tbody>
						</table>
						
					</div>
				</header>

				<nav class="row navigation-tab-container">
					<div class="navigation-tabs">
						<button class="tab-toggle small-6 large-3 medium-6 active" data-tab-group="activity-page" data-tab-page="activity-completed">
							<span>Completed</span>
						</button>
						<button class="tab-toggle small-6 large-3 medium-6" data-tab-group="activity-page"data-tab-page="activity-pending">
							<span>Pending (2)</span>
						</button>
					</div>
				</nav>

				<div class="tab-page-container active" data-tab-group="activity-page" data-tab-toggle="activity-completed">
					<%- include('./activity-completed.html') %>
				</div>

				<div class="tab-page-container tab-activity-pending" data-tab-group="activity-page" data-tab-toggle="activity-pending">
					<%- include('./activity-pending.html') %>
				</div>

			</div>
		</div>
	</div>
</div>

<!-- Begin modal -->
<div class="reveal modal-container row modal-deal-confirmation" id="activity-history-deal" data-reveal>
	<div class="modal-frame columns">
		<header class="modal-header">
			<span class="button-icon modal-close" aria-label="Close modal" data-close="">Close</span>
			<h4>Deal confirmation</h4>
		</header>
		<div class="modal-content text-left clearfix">
			<div class="row">
				<div class="column">
					<p>
						Hello <strong>$First Name$</strong>. Thanks for buying currency with us. We've summarised the details of your deal below, and require you to check this carefully to make sure we have the correct details.
					</p>
					<h5>1. Deal details</h5>
					<div class="row">
						<div class="column medium-6">
							<dl>
								<dt>Contract number</dt>
								<dd>262965-047</dd>
								<dt>Account name</dt>
								<dd>Fayssal Loussaief</dd>
								<dt>Rate</dt>
								<dd>1.1487</dd>
								<dt>Amount due date</dt>
								<dd>10 May 2017</dd>
								<dt>Transfer cost</dt>
								<dd>0.00</dd>
							</dl>
						</div>
						<div class="column medium-6">
							<dl>
								<dt>Deal date</dt>
								<dd>10 May 2017</dd>
								<dt>Currency bought</dt>
								<dd>EUR</dd>
								<dt>Email</dt>
								<dd>email@cd.com</dd>
								<dt>Amount to pay</dt>
								<dd>100.00</dd>
							</dl>
						</div>
					</div>
				</div>
			</div>				
			<div class="row">
				<div class="column">
					<h5>2. Important information</h5>
					<div class="row">
						<div class="column">
							<h6>Late payments may liable to attract charges.</h6>

							<p>
								In the event of default, the trade will be sold at the prevailing market rate with you bearing any costs incurred. All payments to Currencies Direct must be from your own account. Payment from third parties cannot be accepted without prior approval. Under no circumstances should cash or cheques be paid directly into Currencies Direct bank accounts.
							</p>
							<h6>You have agreed to settle your deal by sending funds to the following account via bank transfer.</h6>
							<br>
						</div>
					</div>

					<fieldset class="row collapse">
						<%-
							include(
								'../components/input-type-text.html',
								{
									assoc: 'acc-name',
									value: 'Currencies Direct, Client account',
									labelText: 'Account name',
									classList: [
										'columns',
										'small-label'
									],
									disabled: true,
									readOnly: true
								}
							);
						%>
						<%-
							include(
								'../components/input-type-text.html',
								{
									assoc: 'bank-name',
									value: 'Barclays GBP Client Account',
									labelText: 'Bank name',
									classList: [
										'columns',
										'small-label'
									],
									disabled: true,
									readOnly: true
								}
							);
						%>
						<%-
							include(
								'../components/input-type-text.html',
								{
									assoc: 'sort-code',
									value: '201990',
									labelText: 'Sort code',
									classList: [
										'columns',
										'small-label'
									],
									disabled: true,
									readOnly: true
								}
							);
						%>
						<%-
							include(
								'../components/input-type-text.html',
								{
									assoc: 'acc-number',
									value: '63024083',
									labelText: 'Account number',
									classList: [
										'columns',
										'small-label'
									],
									disabled: true,
									readOnly: true
								}
							);
						%>
						<%-
							include(
								'../components/input-type-text.html',
								{
									assoc: 'iban',
									value: 'GB28BARC20199063024083',
									labelText: 'IBAN',
									classList: [
										'columns',
										'small-label'
									],
									disabled: true,
									readOnly: true
								}
							);
						%>
						<%-
							include(
								'../components/input-type-text.html',
								{
									assoc: 'swift-code',
									value: 'BARCGB22',
									labelText: 'SWIFT code',
									classList: [
										'columns',
										'small-label'
									],
									disabled: true,
									readOnly: true
								}
							);
						%>
						<%-
							include(
								'../components/input-type-text.html',
								{
									assoc: 'reference',
									value: '262965-030',
									labelText: 'Reference',
									classList: [
										'columns',
										'small-label'
									],
									disabled: true,
									readOnly: true
								}
							);
						%>
						<%-
							include(
								'../components/input-type-text.html',
								{
									assoc: 'quote-reference',
									value: '2262965-030',
									labelText: 'Please quote the following reference on your payment',
									classList: [
										'columns',
										'small-label',
										'extra-height'
									],
									disabled: true,
									readOnly: true
								}
							);
						%>
					</fieldset>
					<h5>3. Who you are paying <small>(onward payment/beneficiary details)</small></h5> 

					<div class="row">
						<dl class="dl-float column">
							<dt>Payment</dt>
							<dd>1 of 1</dd>
							<dt>Amount to be paid to the bellow recipient</dt>
							<dd>114.87</dd>
							<dt>Recipient name</dt>
							<dd>Test recipient</dd>
							<dt>Bank name</dt>
							<dd>Barclays Bank Plc</dd>
							<dt>Account number/IBAN</dt>
							<dd>GB51BARC20320673036065</dd>
							<dt>Branch code</dt>
							<dd>-</dd>
							<dt>SWIFT code</dt>
							<dd>BARCGB22XXX</dd>
							<dt>Country</dt>
							<dd>UK</dd>
							<dt>Payment reference</dt>
							<dd>ABCD REF</dd>
							<dt>For further credit to</dt>
							<dd>-</dd>
							<dt>Purpose of transfer</dt>
							<dd>Study fees</dd>
						</dl>
					</div>
					<p>
						10 May 2017 11:30:56 
						<br />
						<small>
							Incorporated in England No. 03041197 Currencies Direct Ltd, One Canada Square, Canary Wharf, London, E14 5AA UK View as PDF Print now
						</small>
					</p>
					<ul class="links-export">
						<li>
							<a href="#" title="" class="link-view-pdf">View as PDF</a>
						</li>
						<li>
							<a href="#" title="" class="link-print-now">Print now</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End modal -->


<%-
  include('../partials/footer.html');
%>

