							
<div class="row">
	<div class="columns">

		<div class="table-container">

			<table class="table row table-activity-wallets">
				<thead>
					<tr>
						<th>
							<span>Date</span>
						</th>
						<th>
							<span>Details</span>
						</th>
						<th>
							<span>Status</span>
						</th>
						<th>
							<span>Amount</span>
						</th>
					</tr>
				</thead>
				<tbody>

					<tr class="transaction">
						<td>18/01/18</td>
						<td>Sent to Moshin Elahi</td>
						<td><span class="status status-in-progress">In progress</span></td>
						<td>2,500.00 EUR</td>
					</tr>

					<tr class="transaction">
						<td>18/01/18</td>
						<td>
							<span class="fx-out">USD wallet</span><br>
							<span class="fx-in">EUR wallet </span>
						</td>
						<td>Completed</td>
						<td>
							<em class="debit">-</em> 2,800.00 USD<br>
							<em class="credit">+</em> 2,500.00 EUR
						</td>
					</tr>
					<tr class="details">
						<td colspan="4">

							<dl>
								<dt>Reference:</dt>
								<dd>12309-40</dd>
								<dt>Rate:</dt>
								<dd>1.254</dd>
							</dl>

						</td>
					</tr>
					<tr class="transaction first">
						<td>18/01/18</td>
						<td>Paid in to Currencies Direct</td>
						<td>Completed</td>
						<td>3,000.00 USD</td>
					</tr>
					
					<tr class="transaction">
						<td>13/01/18</td>
						<td>Sent to Hardik Shah</td>
						<td><span class="status status-in-progress">In progress</span></td>
						<td>500.00 USD</td>
					</tr>
					<tr class="transaction first">
						<td>13/01/18</td>
						<td><span class="fx-out">GBP wallet</span><br><span class="fx-in">USD wallet </span></td>
						<td>Completed</td>
						<td>
							<em class="debit">-</em> 450.00 GBP<br>
							<em class="credit">+</em> 500.00 USD
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
	</div>

</div>