								
<div class="row">
	<div class="columns">
		<div class="table-container">

			<table class="table row table-activity-wallets">
				<thead>
					<tr>
						<th>
							<span>Date</span>
						</th>
						<th>
							<span>Details</span>
						</th>
						<!-- <th>
							<span>Status</span>
						</th> -->
						<th>
							<span>Amount</span>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr class="transaction">
						<td>18/01/18</td>
						<td>Paid in to USD wallet</td>
						<!-- <td>Completed</td> -->
						<td>200.00 USD</td>
					</tr>
					<tr class="details">
						<td colspan="4">	

							<dl>
								<dt>Reference:</dt>
								<dd>12309-40</dd>
							</dl>

						</td>
					</tr>
					<tr class="transaction">
						<td>18/01/18</td>
						<td>Sent to Moshin Elahi</td>
						<!-- <td>Completed</td> -->
						<td>2,500.00 EUR</td>
					</tr>
					<tr class="details">
						<td colspan="4">	

							<dl>
								<dt>Reference:</dt>
								<dd>12309-40</dd>
							</dl>
							
							<h5>Payee details:</h5>	
							<dl>
								<dt>Acc. Nr:</dt>
								<dd>12324123</dd>
								<dt>Sort code:</dt> 	
								<dd>22-34-81</dd>
								<dt>Bank:</dt>			
								<dd>Barclays Bank Plc</dd>
								<dt>SWIFT:</dt>			
								<dd>BARCGB22XXX</dd>
								<dt>Country:</dt>		
								<dd>UK</dd>
								<dt>Purpose:</dt>		
								<dd>-</dd>
							</dl>

						</td>
					</tr>
					<tr class="transaction">
						<td>18/01/18</td>
						<td><span class="fx-out">USD wallet</span><br><span class="fx-in">EUR wallet </span></td>
						<!-- <td>Completed</td> -->
						<td>
							<em class="debit">-</em> 2,800.00 USD<br>
							<em class="credit">+</em> 2,500.00 EUR
						</td>
					</tr>
					<tr class="details">
						<td colspan="4">

							<dl>
								<dt>Reference:</dt>
								<dd>12309-40</dd>
								<dt>Rate:</dt>
								<dd>1.254</dd>
							</dl>

						</td>
					</tr>
					<tr class="transaction first">
						<td>18/01/18</td>
						<td>Paid in to Currencies Direct</td>
						<!-- <td>Completed</td> -->
						<td>3,000.00 USD</td>
					</tr>
					<tr class="details">
						<td colspan="4">	

							<dl>
								<dt>Reference:</dt>
								<dd>12309-40</dd>
							</dl>

							<dl>
								<dt>Source:</dt>
								<dd>Bank transfer</dd>
								<dt>Account:</dt>
								<dd>34568910</dd>
								<dt>Bank:</dt>
								<dd>Halifax</dd>
							</dl>

						</td>
					</tr>					
					<tr class="transaction">
						<td>16/01/18</td>
						<td>Paid in to EUR wallet</td>
						<!-- <td>Completed</td> -->
						<td>1,300.00 EUR</td>
					</tr>
					<tr class="transaction">
						<td>16/01/18</td>
						<td><span class="fx-out">EUR wallet</span><br><span class="fx-in">GBP wallet </span></td>
						<!-- <td>Completed</td> -->
						<td>
							<em class="debit">-</em> 1,000.00 EUR<br>
							<em class="credit">+</em> 980.00 GBP
						</td>
					</tr>
					<tr class="transaction first">
						<td>16/01/18</td>
						<td>Paid in to Currencies Direct</td>
						<!-- <td>Completed</td> -->
						<td>2,300.00 EUR</td>
					</tr>
					<tr class="transaction first">
						<td>15/01/18</td>
						<td>Sent to Moshin Elahi</td>
						<!-- <td>Completed</td> -->
						<td>1,500.00 EUR</td>
					</tr>
					<tr class="transaction">
						<td>13/01/18</td>
						<td>Sent to Hardik Shah</td>
						<!-- <td>Completed</td> -->
						<td>500.00 USD</td>
					</tr>
					<tr class="transaction first">
						<td>13/01/18</td>
						<td><span class="fx-out">GBP wallet</span><br><span class="fx-in">USD wallet </span></td>
						<!-- <td>Completed</td> -->
						<td>
							<em class="debit">-</em> 450.00 GBP<br>
							<em class="credit">+</em> 500.00 USD
						</td>
					</tr>
					<tr class="transaction first">
						<td>10/01/18</td>
						<td><span class="fx-out">EUR wallet</span><br><span class="fx-in">GBP wallet </span></td>
						<!-- <td>Completed</td> -->
						<td>
							<em class="debit">-</em> 500.00 EUR<br>
							<em class="credit">+</em> 480.00 GBP
						</td>
					</tr>
					<tr class="transaction">
						<td>02/01/18</td>
						<td>Sent to Moshin Elahi</td>
						<!-- <td>Completed</td> -->
						<td>2,100.00 EUR</td>
					</tr>
					<tr class="transaction">
						<td>02/01/18</td>
						<td><span class="fx-out">GBP wallet</span><br><span class="fx-in">EUR wallet </span></td>
						<!-- <td>Completed</td> -->
						<td>
							<em class="debit">-</em> 2,000.00 GBP<br>
							<em class="credit">+</em> 2,100.00 EUR
						</td>
					</tr>
					<tr class="transaction first">
						<td>02/01/18</td>
						<td>Paid in to Currencies Direct</td>
						<!-- <td>Completed</td> -->
						<td>2,000.00 GBP</td>
					</tr>
					<tr class="transaction">
						<td>28/12/17</td>
						<td><span class="fx-out">EUR wallet</span>
							<br><span class="fx-in">GBP wallet </span></td>
						<!-- <td>Completed</td> -->
						<td>
							<em class="debit">-</em> 1,000.00 EUR<br>
							<em class="credit">+</em> 980.00 GBP
						</td>
					</tr>
					<tr class="transaction first">
						<td>28/12/17</td>
						<td>Paid in to Currencies Direct</td>
						<!-- <td>Completed</td> -->
						<td> 1,000.00 EUR</td>
					</tr>

				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="row">
	<div class="columns table-list-pager">
		<div class="small-6 columns">
			<span>Displaying</span>
			<span class="text-dark">20 of 61 </span> <span>transactions</span>
		</div>
		<div class="small-6 end columns">
				<a class="button-simple" href="#?clientId=currencies-direct" data-role="view-all" title="View all">
					View all
				</a>
				<a class="button-simple" href="#?clientId=currencies-direct" data-role="view-more" title="View more">
					View more
				</a>
				
		</div>
	</div>
</div>

<!-- <div class="row">
	<div class="table-list-pager column">
		<a class="button-simple" href="#">
			First
		</a>
		<a class="button-simple" href="#">
			Previous
		</a>
		<span>Page 2 of 12</span>
		<a class="button-simple" href="#">
			Next
		</a>
		<a class="button-simple" href="#">
			Last
		</a>
	</div>
</div> -->


