<%-
include(
	'../partials/head.html', {
		title: 'Cookies',
		bodyClassList: [
			'template', 
			'template-core', 
			'template-layout-grid',
			'site-page-dashboard'
		]
	}
);
%>

	
<%- 
	include(
		'../components/navigation-main.html', {
			navigationOptions: [
				{ 
					title: 'Transfer', class: 'menu-item-transfer menu-item-has-sub-menu', 
					subMenu: [
						{ href: '/whitelabel/transactions/make-transfer/1/', title: 'Make a transfer' },
						{ href: '/whitelabel/transactions/buy-currency/1/', title: 'Buy Currency' },
						{ href: '/whitelabel/transactions/pre-bought-currency/1/', title: 'Transfer pre-bought Currency' }, 
						{ href: '/whitelabel/transactions/pay-contract/1/', title: 'Pay open deals' }
					] 
				},
				{ title: 'Rate alerts', class: 'menu-item-alerts', href: '/whitelabel/rate-alerts/management/' },
				{ title: 'Activity', class: 'menu-item-activity-history', href: '/whitelabel/activity-history/' },
				{ title: 'Recipients', class: 'menu-item-recipients', href: '/whitelabel/recipients/manage/' },
				{ title: 'Recommend us', class: 'menu-item-refer-and-earn', href: '/whitelabel/refer-and-earn/' }
			]
		}
	) 
%>

<div class="row main-container main-container--legal-pages">
	<div class="columns">
		<%- /* include('../components/navigation-sub.html') */ %>
		
		<header class="main-header">
			<h1 class="title">
				Our cookie policy
			</h1>
		</header>
	</div>

	<div class="columns">
		<div class="element-group element-group-panel pad--24">
				<p>
					Most websites you visit will use cookies in order to improve your user experience by enabling that website to 'remember' you, either for the duration of your visit (using a 'session cookie') or for repeat visits (using a 'persistent cookie').
				</p> 
				<p>
					Cookies do lots of different jobs, like letting you navigate between pages efficiently, storing your preferences, and generally improving your experience of a website. Cookies make the interaction between you and the website faster and easier. If a website doesn't use cookies, it will think you are a new visitor every time you move to a new page on the site – for example, when you enter your login details and move to another page it won't recognise you and it won't be able to keep you logged in. Some websites will also use cookies to enable them to target their advertising or marketing messages based for example, on your location and/or browsing habits. Cookies may be set by the website you are visiting ('first party cookies') or they may be set by other websites who run content on the page you are viewing ('third party cookies').
				</p>
				<h6>
					What is in a cookie?
				</h6>
				<p>
					A cookie is a simple text file that is stored on your computer or mobile device by a website's server and only that server will be able to retrieve or read the contents of that cookie. Each cookie is unique to your web browser. It will contain some anonymous information such as a unique identifier and the site name and some digits and numbers. It allows a website to remember things like your preferences or what's in your shopping basket.
				</p>
				<h6>
					What to do if you don't want cookies to be set
				</h6>
				<p>
					Some people find the idea of a website storing information on their computer or mobile device a bit intrusive, particularly when this information is stored and used by a third party without them knowing. Although this is generally quite harmless you may not, for example, want to see advertising that has been targeted to your interests. If you prefer, it is possible to block some or all cookies, or even to delete cookies that have already been set; but you need to be aware that you might lose some functions of that website.
				</p>
				<h6>
					How can I control cookies?
				</h6>
				<p>
					If you don't want to receive cookies, you can modify your browser so that it notifies you when cookies are sent to it or you can refuse cookies altogether. You can also delete cookies that have already been set.
				</p>
				<p>
					If you wish to restrict or block web browser cookies which are set on your device then you can do this through your browser settings; the Help function within your browser should tell you how. Alternatively, you may wish to visit www.aboutcookies.org, which contains comprehensive information on how to do this on a wide variety of desktop browsers.
				</p>
				<p>
					Please note that if you disable the use of Cookies on this website some functionality such as navigation may not work as intended.
				</p>
				<h6>
					Third party cookies
				</h6>
				<p>
					We sometimes embed photos and video content from websites such as flickr and YouTube and pages with this embedded content may present cookies from these websites. Similarly, when you use one of the share buttons on our website, a cookie may be set by the service you have chosen to share content through. We do not control the dissemination of these cookies and your acceptance of our cookie policy includes these 3rd party cookies. You should check the relevant third party website for more information about these. We don’t sell the information collected by cookies, nor do we disclose the information to third parties, except where required by law (for example to government bodies and law enforcement agencies).
				</p>
		</div>
	</div>


</div>
		


<%-
    include('../partials/footer.html');
%>