<%-
	include(
		'../partials/head.html', {
			title: 'Transactions - Transfer Pre-bought Currency Screen 2',
			bodyClassList: [
				'template',
				'template-core', 
				'template-navigation-progress',
				'site-transfers',
				'site-transfers-pre-bought-currency-02'
			]
		}
	);
%>


<%-
	include(
		'../components/navigation-main-progress.html', {
			progressOptions: [
				{ title: 'Choose recipient', state: 'active', href: '/whitelabel/transactions/make-transfer/1/' },
				{ title: 'Transfer details', state: '', href: '/whitelabel/transactions/make-transfer/2/' },
				{ title: 'Payment', state: '', href: '/whitelabel/transactions/make-transfer/3/' },
				{ title: 'Confirm transfer', state: '', href: '/whitelabel/transactions/make-transfer/4/' }
			],

			backURL: '/whitelabel/transactions/make-transfer/0/',
			
			registrationProcess: false
		}
	);
%>





<div class="row main-container">
	<div class="row">
		<header class="large-8 medium-7 main-header columns">
			<h1 class="title">
				Tell us who you'd like to transfer your funds to.
			</h1>
			<p class="description">
				You can select more than one recipient and split the amount you're transferring.
			</p>
		</header>
	</div>

	<div class="row">
		<div class="large-8 medium-7 columns">
			<div class="row">
				<form class="element-group" data-abide>
					<fieldset class="row">
						<h5 class="columns">
							Recipient
						</h5>									
					</fieldset>
					<fieldset class="row">
						<%-
							include(
								'../components/select.html',
								{
									assoc: 'transfer-details-reason-for-transfer-1',
									text: 'Send my funds to',
									containerClassList: [
										'large-8',
										'medium-12',
										'end',
									],
									optionsClassList: [
										'needsclick'
									],
									options: [
										{ value: '2', text: 'Captain America (4567 **** **** 1234)' },
										{ value: '3', text: 'Harry Potter (4567 **** **** 1234)' },
										{ value: '4', text: 'Don Quixote (4567 **** **** 1234)' }
									]
								}
							);
						%>
						<a class="large-4 medium-12 columns button-simple justify-left" href="/whitelabel/recipients/manage/add/">
							<span>Add someone new</span>
						</a>
					</fieldset>
					<div class="row transfer-details-recipient-details-one" data-expanding-section="how-much-do-you-want-to-transfer">
						<div class="small-12">
							<fieldset class="row">
								<div class="small-4 medium-4 large-2 columns">
									<span>Currency</span>
									<br>
									<span class="currency eur">EUR</span>
								</div>
								<%-
									include(
										'../components/input-type-text.html',
										{
											assoc: 'amount-due-001',
											labelText: 'Amount',
											classList: [
												'large-4',
												'medium-5',
												'small-6',
												'columns',
												'end'
											]
										}
									)
								%>
							</fieldset>
							<fieldset class="row">
								<%-
									include(
										'../components/select.html',
										{
											assoc: 'reason-for-transfer',
											text: 'Reason for transfer',
											containerClassList: [
												'large-8',
												'medium-12',
												'end',
												'columns'
											],
											optionsClassList: [
												'needsclick'
											],
											options: [
												{ value: '1', text: 'Payment to overseas suppliers' },
												{ value: '2', text: 'Payment of salaries' },
												{ value: '3', text: 'Repatriation of overseas earnings' },
												{ value: '4', text: 'Property purchase' },
												{ value: '5', text: 'International investment' }
											]
										}
									);
								%>
							</fieldset>
							<fieldset class="row">
								<%-
									include(
										'../components/input-type-text.html',
										{
											assoc: 'recipient-reference',
											labelText: 'Recipient reference',
											classList: [
												'large-8',
												'medium-12',
												'columns'
											]
										}
									)
								%>
							</fieldset>
						</div>
						<fieldset class="row payee-container">
							<a class="large-4 medium-8 columns button-simple" href="#" data-role="add-payee">
								<span>Add another recipient</span>
							</a>
						</fieldset>
					</div>
					<div class="row transfer-details-recipient-details-two" data-expanding-section="how-much-do-you-want-to-transfer">
						<div class="small-12">
							<fieldset class="row">
								<h5 class="large-4 medium-8 columns">
									Recipient
								</h5>			
								<a class="large-2 medium-3 columns button-simple" href="#" data-role="delete-payee">
									<span>Delete</span>
								</a>						
							</fieldset>
							<fieldset class="row">
								<%-
									include(
										'../components/select.html',
										{
											assoc: 'transfer-details-reason-for-transfer-2',
											text: 'Send my funds to',
											containerClassList: [
												'large-8',
												'medium-12',
												'end',
												'columns'
											],
											optionsClassList: [
												'needsclick'
											],
											options: [
												{ value: '2', text: 'Captain America (4567 **** **** 1234)' },
												{ value: '3', text: 'Harry Potter (4567 **** **** 1234)' },
												{ value: '4', text: 'Don Quixote (4567 **** **** 1234)' }
											]
										}
									);
								%>
							</fieldset>
							<fieldset class="row">
								<div class="small-4 medium-4 large-2 columns">
									<span>Currency</span>
									<br>
									<span class="currency eur">EUR</span>
								</div>
								<%-
									include(
										'../components/input-type-text.html',
										{
											assoc: 'amount-due-001',
											labelText: 'Amount',
											classList: [
												'large-4',
												'medium-5',
												'small-6',
												'columns',
												'end'
											]
										}
									)
								%>
							</fieldset>
							<fieldset class="row">
								<%-
									include(
										'../components/select.html',
										{
											assoc: 'reason-for-transfer',
											text: 'Reason for transfer',
											containerClassList: [
												'large-8',
												'medium-12',
												'end',
												'columns'
											],
											optionsClassList: [
												'needsclick'
											],
											options: [
												{ value: '1', text: 'Payment to overseas suppliers' },
												{ value: '2', text: 'Payment of salaries' },
												{ value: '3', text: 'Repatriation of overseas earnings' },
												{ value: '4', text: 'Property purchase' },
												{ value: '5', text: 'International investment' }
											]
										}
									);
								%>
							</fieldset>
							<fieldset class="row">
								<%-
									include(
										'../components/input-type-text.html',
										{
											assoc: 'recipient-reference',
											labelText: 'Recipient reference',
											classList: [
												'large-8',
												'medium-12',
												'columns'
											]
										}
									)
								%>
							</fieldset>
						</div>
						<fieldset class="row payee-container">
							<a class="large-4 medium-8 columns button-simple" href="#" data-role="add-payee">
								<span>Add another recipient</span>
							</a>
						</fieldset>
					</div>
					<div class="row transfer-details-recipient-details-three" data-expanding-section="how-much-do-you-want-to-transfer">
						<div class="small-12">
							<fieldset class="row">
								<h5 class="large-4 medium-8 columns">
									Recipient
								</h5>			
								<a class="large-2 medium-3 columns button-simple" href="#" data-role="delete-payee">
									<span>Delete</span>
								</a>						
							</fieldset>
							<fieldset class="row">
								<%-
									include(
										'../components/select.html',
										{
											assoc: 'transfer-details-reason-for-transfer-3',
											text: 'Send my funds to',
											containerClassList: [
												'large-8',
												'medium-12',
												'end',
												'columns'
											],
											optionsClassList: [
												'needsclick'
											],
											options: [
												{ value: '2', text: 'Captain America (4567 **** **** 1234)' },
												{ value: '3', text: 'Harry Potter (4567 **** **** 1234)' },
												{ value: '4', text: 'Don Quixote (4567 **** **** 1234)' }
											]
										}
									);
								%>
							</fieldset>
							<fieldset class="row">
								<div class="small-4 medium-4 large-2 columns">
									<span>Currency</span>
									<br>
									<span class="currency eur">EUR</span>
								</div>
								<%-
									include(
										'../components/input-type-text.html',
										{
											assoc: 'amount-due-001',
											labelText: 'Amount',
											classList: [
												'large-4',
												'medium-5',
												'small-6',
												'columns',
												'end'
											]
										}
									)
								%>
							</fieldset>
							<fieldset class="row">
								<%-
									include(
										'../components/select.html',
										{
											assoc: 'reason-for-transfer',
											text: 'Reason for transfer',
											containerClassList: [
												'large-8',
												'medium-12',
												'end',
												'columns'
											],
											optionsClassList: [
												'needsclick'
											],
											options: [
												{ value: '1', text: 'Payment to overseas suppliers' },
												{ value: '2', text: 'Payment of salaries' },
												{ value: '3', text: 'Repatriation of overseas earnings' },
												{ value: '4', text: 'Property purchase' },
												{ value: '5', text: 'International investment' }
											]
										}
									);
								%>
							</fieldset>
							<fieldset class="row">
								<%-
									include(
										'../components/input-type-text.html',
										{
											assoc: 'recipient-reference',
											labelText: 'Recipient reference',
											classList: [
												'large-8',
												'medium-12',
												'columns'
											]
										}
									)
								%>
							</fieldset>
						</div>
					</div>
				</form>
				<div class="row collapse">
					<%-
						include(
							'../components/button.html',
							{
								type: 'button',
								text: 'Continue',
								classList: [
									'medium-4',
									'medium-offset-8',
									'end',
									'btn-continue-container'
								],
								dataAttr: {
									'data-hyperlink': '/whitelabel/dashboard-transfer-currency-screen/2/',
									//'disabled': 'disabled'
								},
							}
						)
					%>
				</div>
			</div>
		</div>

		<aside class="large-4 medium-5 columns transfers-summary">
			<div class="row">
				<div class="element-group columns">
					<div class="row">
						<h5 class="columns transfers-summary-title">
							Transfer summary
						</h5>
						<table class="table-summary">
							<tbody>
								<tr>
									<td>
										<span>Available to allocate:</span>
									</td>
									<td>
										<span>EUR 11,456</span>
									</td>
								</tr>
							</tbody>
						</table>
						<table class="table-summary transfers-summary-datalist expanding-section" data-expanding-section="how-much-do-you-want-to-transfer">
							<tbody>
								<tr>
									<td>
										<span>Allocated amount:</span>
									</td>
									<td>
										<span>EUR 1,000</span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</aside>

	</div>
</div>


<%-
  include('../partials/footer.html');
%>
