<%-
	include(
		'../partials/head.html', {
				title: 'Password Forgotten',
			bodyClassList: [
				'template',
				'template-core',
				'template-layout-centered',
				'template-registration'
			]
		}
	);
%>


<%-
	include(
		'../components/navigation-main-simple.html', {
		loggedIn: false,
		registrationProcess: false,
		closeOpt: true
		}
	);
%>




<div class="row main-container">
	<section class="large-5 medium-7 small-centered section content active">
		<form class="callout" data-abide>
			<header class="main-header columns">
				<h1 class="title">
					Check your email
				</h1>
				<p class="description">
					Please follow the instructions in the email we'just sent you to reset your password.
				</p>
				<br>
				<p class="description">
					Please allow at least 5 minutes to receive the email. <a href="/whitelabel/password/forgotten/">Request the link again</a>. 
				</p>
				<br>
				<p class="description">
					Alternatively, go to Currencies direct <a href="https://www.currenciesdirect.com">home page</a>.
				</p>
			</header>

		</form>
	</section>
</div>




<%-
  /* Sitewide JS */
  include('../partials/footer.html');
%>

