<!doctype html>
<html class="no-js" lang="en">

	<%-
		include(
			'../partials/head.html', {
				title: 'Password "Five Tries"'
			}
		);
	%>

	<body>
		<div class="template template-core template-layout-centered template-registration">

		<%-
			include(
				'../components/navigation-main-simple.html', {
				loggedIn: false,
				registrationProcess: false,
				closeOpt: true
				}
			);
		%>


		<nav class="status-notification status-notification-error">
			<div class="row">
				<p class="columns">
					Your account has been locked due to multiple unsuccessful login attempts.
				</p>
			</div>
		</nav>

		<div class="row main-container">
			<section class="large-5 medium-7 small-centered section content active">
				<header class="main-header columns">
					<h1 class="title center">
						Access to your account
					</h1>
					<p class="description center">
						If you’ve forgotten your password, you can <br class="show-for-medium-up"><a href="" title="">request a new one here</a>. 
					</p>
					<p class="description center">
						Alternatively, you can speak to us on <strong style="white-space: nowrap;">1800 291 073</strong> <br class="show-for-medium-up">to speak to your account manager. 
						<a class="tooltip-popup" href="#" title="Our opening hours are Monday – Thursday, 8.30am – 7pm; Friday, 8.30am – 5.30pm; Saturday, 10am – 2pm"></a>
					</p>
				</header>
			</section>
		</div>






  <%-
    /* Sitewide JS */
    include('../partials/footer.html');
  %>

  		</div>
	</body>
</html>
