<!doctype html>
<html class="no-js" lang="en">

	<%-
		include(
			'../partials/head.html', {
				title: 'Forgotter Password Update'
			}
		);
	%>



	<body class="template template-core template-layout-centered template-registration">


		<%-
			include(
				'../components/navigation-main-simple.html', {
				loggedIn: false,
				registrationProcess: false,
				closeOpt: true
				}
			);
		%>


		<% /*
			<nav class="status-notification status-notification-status">
				<div class="row">
					<p class="columns">
						<span>
							Stil having trouble logging in? Call us on 0800 612 9625 <a class="tooltip-popup" href="#" title="Our opening hours are Monday - Thursday, 8.30am - 7pm; Friday, 8.30am - 5:30pm; Saturday, 10am - 2pm."></a>
						</span>
					</p>
				</div>
			</nav>
		*/ %>


		<div class="row main-container">
				<section class="large-5 medium-7 small-centered section content">
					<form class="callout" data-abide>
						<header class="main-header columns">
							<h1 class="title">
								Reset your password
							</h1>
							<p class="description">
								Enter your new password below so you can access your account straight away.
							</p>
						</header>
						<fieldset class="row">
							<%-
								include(
									'../components/input-type-password.html',
									{
										assoc: 'new-password',
										labelText: 'Password',
										classList: [
											'columns'
										]
									}
								);
							%>
						</fieldset>


						<fieldset class="row">
							<p class="columns">
								Passwords should be at least 8 characters long with at least 1 number, 1 capital letter &amp; 1 lowercase letter.
							</p>
						</fieldset>
						<fieldset class="row">
							<%-
								include(
									'../components/button.html',
									{
										type: 'button',
										text: 'Update password',
										classList: [
											'small-12'
										],
										dataAttr: {
											'data-hyperlink': '/whitelabel/password/reset/pin/'
										}
									}
								)
							%>

						</fieldset>

					</form>
				</section>
		</div>






    <%-
      /* Sitewide JS */
      include('../partials/footer.html');
    %>


	</body>
</html>
