<%-
	include(
		'../partials/head.html', {
			title: 'Pin',
			bodyClassList: [
				'template', 
				'template-core', 
				'template-layout-centered', 
				'template-registration',
				'template-pin'
			]
		}
	);
%>


<%-
	include(
		'../components/navigation-main-simple.html', {
		loggedIn: false,
		registrationProcess: false,
		closeOpt: true
		}
	);
%>


<div class="row main-container">
	<section class="large-5 medium-7 small-centered section content">
		<form class="callout" data-abide>
			<header class="main-header columns">
				<h1 class="title">
					Enter your PIN code
				</h1>
				<p class="description">
					We've sent you a 5-digit PIN code.<br>Please enter it <strong>within 60 minutes</strong> to log in.
				</p>
			</header>

			<fieldset class="row">
				<%-
					include(
						'../components/input-type-number.html',
						{
							assoc: 'pin-number',
							labelText: 'Your one-time PIN code',
							max: '4',
							classList: [
								'columns'
							]
						}
					);
				%>
			</fieldset>

			<fieldset class="row">
				<%-
					include(
						'../components/button.html',
						{
							type: 'button',
							text: 'Log in',
							classList: [
								'small-12'
							],
							dataAttr: {
								'data-hyperlink': '/whitelabel/dashboard/'
							}
						}
					)
				%>
			</fieldset>


			<fieldset class="row">
				<p class="columns">
					<a href="/whitelabel/password/forgotten/">
						Send me a new code
					</a>
				</p>
			</fieldset>
		</form>

	</section>
</div>





<%-
  include('../partials/footer.html');
%>


