<%-
	include(
		'../partials/head.html', {
				title: 'Password Reset',
			bodyClassList: [
				'template',
				'template-core',
				'template-layout-centered', 
				'template-registration'
			]
		}
	);
%>


<%-
	include(
		'../components/navigation-main-simple.html', {
		loggedIn: false,
		registrationProcess: false,
		closeOpt: true
		}
	);
%>


<div class="row main-container">
	<section class="large-5 medium-7 small-centered section content active">
		<form class="callout" data-abide>
			<header class="main-header columns">
				<h1 class="title">
					Reset your password
				</h1>
				<p class="description">
					Enter your new password below and access your account straight away.
				</p>
			</header>
			<fieldset class="row">
				<%-
					include(
						'../components/input-type-password.html',
						{
							assoc: 'password',
							labelText: 'Password',
							classList: [
								'columns'
							]
						}
					);
				%>
				<%-
					include(
						'../components/input-type-password.html',
						{
							assoc: 'password',
							labelText: 'Confirm password',
							classList: [
								'columns'
							]
						}
					);
				%>
				<p class="columns description text-left">
					Passwords should be at least 8 characters long with at least 1 number, 1 capital letter &amp; 1 lowercase letter.
				</p>
				<%-
					include(
						'../components/button.html',
						{
							type: 'submit',
							text: 'Update password and login',
							classList: [
								'small-12'
							],
							dataAttr: {
								'data-hyperlink': '/whitelabel/'
							}
						}
					)
				%>
			</fieldset>
		</form>
	</section>
</div>



<%-
  /* Sitewide JS */
  include('../partials/footer.html');
%>
