<%-
	include(
		'../partials/head.html', {
			title: 'Security questions',
			bodyClassList: [
				'template', 
				'template-core', 
				'template-layout-centered', 
				'template-registration'
			]
		}
	);
%>

<%-
	include(
		'../components/navigation-main-simple.html', {
		loggedIn: false,
		registrationProcess: false,
		closeOpt: true
		
		// '../components/navigation-main.html', {
		// loggedIn: false,
		// isLoginTmpl: true
		}
	);
%>


<div class="row main-container">
	<section class="large-5 medium-7 small-centered section content">
		<form class="callout" data-abide>
			<header class="main-header columns">
				<h1 class="title">Answer your security questions</h1>
				<p class="description columns">
					These questions are used to verify your identity or help reset your password.
				</p>
			</header>

			<fieldset class="row">
				<%-
					include(
						'../components/input-type-text.html',
						{
							assoc: 'question-1',
							labelText: 'What is your favourite children’s book?',
							//value: 'Rover',

							classList: [
								'columns',
								//'small-label'
							]
						}
					);
				%>
			</fieldset>

			<fieldset class="row">
				<%-
					include(
						'../components/input-type-text.html',
						{
							assoc: 'question-2',
							labelText: 'What is the name of your first App?',
							//value: 'New Zealand',

							classList: [
								'columns',
								//'small-label'
							]
						}
					);
				%>
			</fieldset>


			<fieldset class="row">
				<%-
					include(
						'../components/button.html',
						{
							type: 'button',
							text: 'Log in & reset password',
							classList: [
								'small-12'
							],
							dataAttr: {
								'data-hyperlink': '/whitelabel/password/forgotten/update/'
							}
						}
					)
				%>
			</fieldset>

			<div class="row">
				<p class="columns medium-12 center">
					<a href="/whitelabel/password/forgotten/">Or reset your password with email.</a>
				</p>

			</div>
		</form>

	</section>
</div>


<%-
  include('../partials/footer.html');
%>


