<div class="row collapse">
	<div class="columns medium-9 large-7">

		<div class="row">
			<h5 class="columns">
				Our communications with you
			</h5>
		</div>

		<fieldset class="row">
			<legend class="medium-6 columns">
				Market movement alerts
			</legend>
			<div class="small-6 medium-3 end columns radio-container">
				<input class="needsclick" type="radio" name="market-alerts" value="Yes" id="yes-1" checked>
				<label for="yes-1">Yes</label>
			</div>

			<div class="small-6 medium-3 columns radio-container">
				<input class="needsclick" type="radio" name="market-alerts" value="No" id="no-1">
				<label for="no-1">No</label>
			</div>

		</fieldset>

		<fieldset class="row">
			<legend class="medium-6 columns">
				Daily currency updates
			</legend>

			<div class="small-6 medium-3 end columns radio-container">
				<input class="needsclick" type="radio" name="daily-updates" value="Yes" id="yes-2" checked>
				<label for="yes-2">Yes</label>
			</div>

			<div class="small-6 medium-3 columns radio-container">
				<input class="needsclick" type="radio" name="daily-updates" value="No" id="no-2">
				<label for="no-2">No</label>
			</div>

		</fieldset>

		<fieldset class="row">
			<legend class="medium-6 columns">
				Weekly currency updates
			</legend>

			<div class="small-6 medium-3 end columns radio-container">
				<input class="needsclick" type="radio" name="weekly-updates" value="Yes" id="yes-3" checked>
				<label for="yes-3">Yes</label>
			</div>

			<div class="small-6 medium-3 columns radio-container">
				<input class="needsclick" type="radio" name="weekly-updates" value="No" id="no-3">
				<label for="no-3">No</label>
			</div>

		</fieldset>

		<fieldset class="row">
			<legend class="medium-6 columns">
				Product news
			</legend>

			<div class="small-6 medium-3 end columns radio-container">
				<input class="needsclick" type="radio" name="product-news" value="Yes" id="yes-3" checked>
				<label for="yes-3">Yes</label>
			</div>

			<div class="small-6 medium-3 columns radio-container">
				<input class="needsclick" type="radio" name="product-news" value="No" id="no-3">
				<label for="no-3">No</label>
			</div>

		</fieldset>

		<fieldset class="row">
			<legend class="medium-6 columns">
				Newsletters
			</legend>

			<div class="small-6 medium-3 end columns radio-container">
				<input class="needsclick" type="radio" name="email-newsletters" value="Yes" id="yes-4" checked>
				<label for="yes-4">Yes</label>
			</div>
			<div class="small-6 medium-3 columns radio-container">
				<input class="needsclick" type="radio" name="email-newsletters" value="No" id="no-4">
				<label for="no-4">No</label>
			</div>

		</fieldset>

	</div>
</div>

<hr>

<div class="row collapse">
	<div class="columns medium-9 large-7">

		<div class="row">
			<h5 class="columns">
				Communications from 3rd Parties
			</h5>
		</div>

		<fieldset class="row">
			<legend class="medium-6 columns">
				3rd Party Emails
			</legend>

			<div class="small-6 medium-3 end columns radio-container">
				<input class="needsclick" type="radio" name="email-3rd-party" value="Yes" id="yes-5" checked>
				<label for="yes-5">Yes</label>
			</div>


			<div class="small-6 medium-3 columns radio-container">
				<input class="needsclick" type="radio" name="email-3rd-party" value="No" id="no-5">
				<label for="no-5">No</label>
			</div>
			
		</fieldset>

	</div>
</div>
