<%-
	include(
		'../partials/head.html', {
			title: 'Recipients - View / Edit',
			bodyClassList: [
				'template',
				'template-core', 
				'template-navigation-progress',
				'site-transfers',
				'site-transfers-02',
				'site-recipients' // Correct class
			]
		}
	);
%>


<%-
	include(
		'../components/navigation-main-progress.html', {
			progressOptions: [
				{ title: 'Recipient details', state: 'active', href: '/whitelabel/recipients/manage/view-edit/' },
				{ title: 'Bank details', state: '', href: '/whitelabel/recipients/manage/view-edit/bank-details/'  },
				{ title: 'Additional details', state: '', href: '/whitelabel/recipients/manage/view-edit/additional-details/' }
			],

			backURL: '/whitelabel/recipients/manage/',
			
			registrationProcess: false
		}
	);
%>



<div class="row main-container">
	<div class="row">
		<header class="large-8 medium-12 main-header columns">
			<h1 class="title">
				View and edit your recipient
			</h1>
			<p class="description">
				Please view or update your recipient's details below. <br>You'll need to continue to the last page to save any updates.
			</p>
		</header>
	</div>
	<div class="row">
		<div class="large-8 medium-12 columns">
			<div class="row">
				<form class="element-group" data-abide>
					<header class="element-group-header row">
						<h5 class="small-8 columns end element-group-title">
							Recipient type
						</h5>
					</header>
					<fieldset class="row">
						<div class="small-6 medium-4 columns radio-container">
							<input class="needsclick" type="radio" name="recipient-type" value="individual" id="no" checked="checked">
							<label for="no">Individual</label>
						</div>
						<div class="small-6 medium-4 end columns radio-container">
							<input class="needsclick" type="radio" name="recipient-type" value="company" id="yes">
							<label for="yes">Company</label>
						</div>
					</fieldset>
					<fieldset class="row expanding-section expanded" data-expanding-section="individual">
						<%-
							include(
								'../components/input-type-text.html',
								{
									assoc: 'firstname',
									labelText: 'First name',
									classList: [
										'medium-8',
										'end',
										'columns'
									]
								}
							);
						%>
						<%-
							include(
								'../components/input-type-text.html',
								{
									assoc: 'lastname',
									labelText: 'Last name',
									classList: [
										'medium-8',
										'end',
										'columns'
									]
								}
							);
						%>
					</fieldset>
					<fieldset class="row expanding-section" data-expanding-section="company">
						<%-
							include(
								'../components/input-type-text.html',
								{
									assoc: 'company-name',
									labelText: 'Company',
									classList: [
										'medium-8',
										'end',
										'columns'
									]
								}
							);
						%>
					</fieldset>
					<fieldset class="row">
					<%-
						include(
							'../components/input-type-tel.html',
							{
								assoc: 'telelphone-number',
								labelText: 'Phone number (optional)',
								classList: [
									'medium-8',
									'columns'
								]
							}
						);
					%>
					</fieldset>
					<fieldset class="row">
					<%-
						include(
							'../components/input-type-email.html',
							{
								assoc: 'email-address',
								labelText: 'Email address (optional)',
								classList: [
									'medium-8',
									'columns'
								]
							}
						);
					%>
					</fieldset>
					<hr>
					<fieldset class="row">
						<div class="medium-8 small-10 columns select-container">
							<select id="select-country">
								<option  disabled hidden>&nbsp;</option>
								<option selected value="AU" selected>Australia</option>
								<option value="GB">United Kingdom</option>
								<option value="US">United States</option>
							</select>
							<label for="select-country">
								Country
							</label>
						</div>
						<div class="small-1 medium-2 columns end tooltip-hldr">
							<a class="tooltip-popup" href="#" title="This is the country that your recipient’s bank account is located in."></a>
						</div>
					</fieldset>
					<fieldset class="row">
						<div class="medium-8 small-10 columns select-container">
							<select id="select-currency">
								<option disabled hidden>&nbsp;</option>
								<option selected value="GB">AUD - Australian dollar</option>
								<option value="GB">GBP - Pounds sterling</option>
								<option value="US">EUR - Euro</option>
								<option value="US">USD - US Dollar</option>
								<option value="US">ZAR - South African rand</option>
							</select>
							<label for="select-currency">
								Currency
							</label>
						</div>
						<div class="small-1 medium-2 columns end tooltip-hldr">
							<a class="tooltip-popup" href="#" title="This is the currency you want your recipient to receive. The recipient must have a bank account set up to receive this currency."></a>
						</div>
					</fieldset>
				</form>

			</div>

			<div class="row collapse">
				<%-
					include(
						'../components/button.html',
						{
							type: 'button',
							text: 'Continue',
							classList: [
								'medium-4',
								'medium-offset-8',
								'end'
							],
							dataAttr: {
								'data-role': 'button-continue',
								'data-hyperlink': '/whitelabel/recipients/manage/view-edit/bank-details/',
							},
						}
					)
				%>
			</div>
		</div>
	</div>
</div>


<%-
  include('../partials/footer.html');
%>
