<%-
include(
	'../partials/head.html', {
		title: 'Buy Currency - Confirmation',
		bodyClassList: [
			'template', 
			'template-core', 
			'template-layout-centered',
			'template-registration'
		]
	}
);
%>




<%- 
	include(
		'../components/navigation-main.html', {
			navigationOptions: [
				{ 
					title: 'Transfer', class: 'menu-item-transfer menu-item-has-sub-menu', 
					subMenu: [
						{ href: '/whitelabel/transactions/make-transfer/1/', title: 'Make a transfer' },
						{ href: '/whitelabel/transactions/buy-currency/1/', title: 'Buy Currency' },
						{ href: '/whitelabel/transactions/pre-bought-currency/1/', title: 'Transfer pre-bought Currency' }, 
						{ href: '/whitelabel/transactions/pay-contract/1/', title: 'Pay open deals' }
					] 
				},
				{ title: 'Rate alerts', class: 'menu-item-alerts', href: '/whitelabel/rate-alerts/management/' },
				{ title: 'Activity', class: 'menu-item-activity-history', href: '/whitelabel/activity-history/' },
				{ title: 'Recipients', class: 'menu-item-recipients', href: '/whitelabel/recipients/manage/' },
				{ title: 'Recommend us', class: 'menu-item-refer-and-earn', href: '/whitelabel/refer-and-earn/' }
			]
		}
	) 
%>


<nav class="status-notification status-notification-success">
	<div class="row">
		<div class="columns">
			<p>
				Thanks, your currency purchase is complete. Your contract number is 8463129.
			</p>
		</div>
	</div>
</nav>



<div class="row main-container">
	<section class="large-5 medium-7 small-centered section content">
		<form class="callout" data-abide>
			<header class="main-header columns">
				<h1 class="title">
					Currency purchase complete
				</h1>
				<p class="description">
					We've added the currency to your balance, which you can view straight away on the homepage.
				</p>
			</header>
			<fieldset class="row">
				<%-
					include(
						'../components/button.html',
						{
							type: 'submit',
							text: 'Tell us where to transfer this currency',
							classList: [
							],
							dataAttr: {
								'data-hyperlink': '/whitelabel/transactions/pre-bought-currency/2/'
							}
						}
					)
				%>
			</fieldset>
			<fieldset class="row">
				<div class="columns center">
					<a class="button-simple button-simple-inline" href="/whitelabel/dashboard/" title="">
						No thanks, I’ll do that later
					</a>
				</div>
			</fieldset>
		</form>
	</section>
</div>




<%-
    /* Sitewide JS */
    include('../partials/footer.html');
%>
