

	<%-
		include(
			'../partials/head.html', {
				title: 'Buy Currency',
				bodyClassList: [
					'template',
					'template-core', 
					'template-navigation-progress',
					'site-transfers',
					'site-transfers-04'
				]
			}
		);
	%>


<%-
	include(
		'../components/navigation-main-progress.html', {
			progressOptions: [
				{ title: 'Choose amount', state: 'complete' },
				{ title: 'Payment', state: 'complete' },
				{ title: 'Confirm purchase', state: 'active' }
			],

			backURL: '/whitelabel/transactions/currency/empty/',
			
			registrationProcess: false
		}
	);
%>



<div class="row main-container">
	<div class="row">
		<header class="medium-7 large-8 main-header columns">
			<h1 class="title">
				Confirm purchase
			</h1>
			<p class="description">
				Please check the details below and press ‘Confirm’. We'll add this currency to your balance, and you can transfer to a recipient later.
			</p>
		</header>
	</div>


	<div class="row">
		<div class="medium-7 large-8 columns">
			<form class="element-group" data-abide>

				<fieldset class="row">
					<%-
						include(
							'../components/input-type-text.html',
							{
								assoc: 'amount-due-001',
								value: 'GBP 1000',
								labelText: 'Amount due',
								classList: [
									'large-8',
									'medium-10',
									'end',
									'columns',
									'small-label'
								],
								disabled: true,
								readOnly: true
							}
						);
					%>
				</fieldset>

				<fieldset class="row">
								<%-
									include(
										'../components/select.html',
										{
											text: 'Source of funds',
											containerClassList: [
												'large-8',
												'medium-10'
											],

											options: [
												{ value: 'a1', text: 'Savings' },
												{ value: 'a2', text: 'Sale of investment' },
												{ value: 'a3', text: 'Investment Income' },
												{ value: 'a4', text: 'Salary' },
												{ value: 'a5', text: 'Other' }												
											]
										}
									);
								%>
							</fieldset>

				<fieldset class="row">
					<%-
						include(
							'../components/input-type-text.html',
							{
								assoc: 'amount-due-002',
								value: 'Bank card',
								labelText: "You’ve decided to pay via",
								classList: [
									'large-8',
									'medium-10',
									'columns',
									'small-label'
								],
								disabled: true,
								readOnly: true
							}
						);
					%>
				</fieldset>
				<fieldset class="row">
					<%-
						include(
							'../components/input-type-text.html',
							{
								assoc: 'card-number',
								value: '4629 •••• •••• 1245',
								labelText: 'Card number',
								classList: [
									'large-8',
									'medium-10',
									'end',
									'columns',
									'small-label'
								],
								disabled: true,
								readOnly: true
							}
						);
					%>
				</fieldset>
				
				<!-- <fieldset class="row">
					<%-
						include(
							'../components/input-type-text.html',
							{
								assoc: 'amount-due-003',
								value: '1234567',
								labelText: 'Contract number',
								classList: [
									'large-8',
									'medium-10',
									'end',
									'columns',
									'small-label'
								],
								disabled: true,
								readOnly: true
							}
						);
					%>
				</fieldset> -->


				<div class="row">
					<p class="columns medium-8">
					<small>Your card issuer may ask you to answer some security questions on the next page.</small>
					</p>
				</div>

				<footer class="row border--top">
					<p class="columns element-group-footer pad--24">
						By clicking ‘Pay now’ you are committing to the purchase of currency and entering into a legally binding contract, as detailed in our <a target="_blank" href="/whitelabel/terms-and-conditions/" title="">terms and conditions</a>. 
					</p>
				</footer>

			</form>

			<div class="row collapse">
				<%-
					include(
						'../components/button.html',
						{
							type: 'button',
							text: 'Pay now',
							classList: [
								'medium-4',
								'medium-offset-8',
								'end',
								'temp-btn-continue',
								'temp-button-style-green'
							],
							dataAttr: {
								'data-hyperlink': '/whitelabel/transactions/buy-currency/confirmation/',
								//'disabled': 'disabled'
							},
						}
					)
				%>
			</div>

		</div>

		<div class="large-4 medium-5 columns">

			<aside class="transfers-summary">
				<div class="element-group">
					<div class="row">
						<h6 class="columns transfers-summary-title">
							Purchase summary
						</h6>
						<h6 class="small-6 columns transfers-summary-sub-title">
							<!--  -->
						</h6>
						<a href="/whitelabel/transactions/buy-currency/1/?clientId=currencies-direct" class="transfers-edit-button">Edit</a>
						
						<table class="table-summary">
							<thead></thead>
							<tbody>
								<tr>
									<td><span>Currency bought</span></td>
									<td><span>EUR 11456</span></td>
								</tr>
								<tr>
									<td><span>Rate</span></td>
									<td><span>1.1456</span></td>
								</tr>
								<tr>
									<td><span>Fee</span></td>
									<td><span>GBP 0</span></td>
								</tr>
								<tr>
									<td><span>Total you pay</span></td>
									<td><span>GBP 1000</span></td>
								</tr>
							</tbody>
						</table>
						
						<h6 class="columns transfers-summary-sub-title sub-title-refresh">
							Your rate will refresh in <span data-rate-refresh>5 seconds</span>
							<a class="tooltip-popup" href="#" title="We will hold this rate for you for 60 seconds, but as the markets are always moving, we need to periodically update the exchange rate we offer."></a>
						</h6>
					</div>
				</div>
			</aside>

		</div>

	</div>
</div>


<%-
  include('../partials/footer.html');
%>
