/**
 * Development
 */

/**
 * Development
 * - BrowserSync connection message relocation
 */


*:hover {
	//outline: 1px dotted rgba(255,0,0,.2) !important;
};



#__bs_notify__ {
	position: fixed !important;
	top: auto !important;
	//bottom: 0 !important; right: 0 !important;
	left: 0 !important; right: auto !important; 
	display: block;
	height:  auto;
	border-radius: 0 !important;
	padding: 15px !important;
	background: rgba(0,0,0,.55) !important;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	min-width: 200px !important; 
	font: 80% 'Consolas', 'Courier New', 'Courier', monospace !important;
	transition: all 500ms ease-in-out !important; // Doesn't work
}




/**
 * Debug Overlay
 */
#__whitelabel_debug_overlay__ {
	display: block;
	position: fixed !important;
	bottom: 0 !important;
	left: 0 !important;
	display: block;
	height:  auto;
	float: left;
	padding: 15px 15px 0px 15px !important;
	margin: 0 !important;
	background: rgba(0,0,0,.55) !important;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	min-width: 200px !important;
	transition: opacity 500ms ease-in-out !important; 
	opacity: 0;
	pointer-events: none;

	&, span {
		cursor: pointer;
		font: 90% 'Consolas', 'Courier New', 'Courier', monospace !important;
		clear: both;
		float: left;
		display: inline-block;
		margin-bottom: 15px;
		color: white;
		&:hover {
			text-decoration: underline;
		}
	}	

	&.show {
		opacity: 1 !important;
		pointer-events: auto !important;
	}

}


